<div class="container-fluid" id="home-header">
	<div class="row">
		<div class="col-md-12">
		</div>	
	</div>
</div>



<% content_for :brand_nav do %>	<% end %>
<div class="container-fluid" id="home-brand-nav">
	<div class="row">
			<div class="col-3 col-sm-3 col-md-1 offset-md-1"><%= link_to (image_tag 'Group_Homepage_TimeLogo_GreyedOut.jpg', class: 'img-fluid mx-auto'), '/rossignol' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= image_tag 'Group_Homepage_VerticalLogo_GreyedOut.jpg', class: 'img-fluid mx-auto' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= link_to (image_tag 'Group_Homepage_LookLogo.jpg', class: 'img-fluid mx-auto'), '/dllk' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= link_to (image_tag 'Group_Homepage_DynastarLogo.jpg', class: 'img-fluid mx-auto'), '/dllk' %></div>
			<div class="col-4 col-sm-4 offset-2 col-md-1 offset-md-0"><%= link_to (image_tag 'Group_Homepage_RossignolLogo.jpg', class: 'img-fluid mx-auto'), '/rossignol' %></div>
			<div class="col-4 col-sm-4 col-md-1"><%= image_tag 'Group_Homepage_RossignolApparelLogo_GreyedOut.jpg', class: 'img-fluid mx-auto' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= link_to (image_tag 'Group_Homepage_LangeLogo.jpg', class: 'img-fluid mx-auto'), '/dllk' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= link_to (image_tag 'Group_Homepage_KermaLogo.jpg', class: 'img-fluid mx-auto'), '/dllk' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= image_tag 'Group_Homepage_RaidlightLogo_GreyedOut.jpg', class: 'img-fluid mx-auto' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= image_tag 'Group_Homepage_FeltLogo_GreyedOut.jpg', class: 'img-fluid mx-auto' %></div>
	</div>
</div>



		<!-- Time/vertical/Look/Dynstar/Ross/RossApa/Lange/Kerma/Raidlight/Felt -->
	


