<section id="home-group-logo">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1><%= @page.title %></h1>
			</div>
		</div>
	</div>
</section>

<section id="home-welcome-text">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="lead">
					<%= raw @page.content_for(:welcome_text_col_1) %>
				</p>
			</div>
			<div class="col-md-6">
				<p class="lead">
					<%= raw @page.content_for(:welcome_text_col_2) %>
				</p>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid">
	<div class="row">
		<div class="col-md home-brand text-center" id="group-home-rossignol">
			<%= link_to (image_tag 'Rossignol_Line_RED.png', alt: 'Rossignol Logo', class: 'img-fluid mx-auto'), '/rossignol' %> 
		</div>
		<div class="col-md home-brand text-center" id="group-home-dlllk">
			<%= link_to (image_tag 'DLLK_2017_horizontal_color.png', alt: 'Dynastar | Lange | LOOK | Kerma logos', class: 'img-fluid mx-auto'), '/dllk' %>
		</div>
	</div>
</div>

<%#= render '/refinery/content_page' %>

