<div class="container-fluid" id="home-header">
	<div class="row">
		<div class="col-md-12">
		</div>	
	</div>
</div>



<% content_for :brand_nav do %>	<% end %>
<div class="container-fluid" id="home-brand-nav">
	<div class="row">
			<div class="col-3 col-sm-3 col-md-1 offset-md-1"><%= link_to (image_tag 'Group_Homepage_TimeLogo_GreyedOut.jpg', class: 'img-fluid mx-auto'), '/rossignol' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= image_tag 'Group_Homepage_VerticalLogo_GreyedOut.jpg', class: 'img-fluid mx-auto' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= link_to (image_tag 'Group_Homepage_LookLogo.jpg', class: 'img-fluid mx-auto'), '/dllk' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= link_to (image_tag 'Group_Homepage_DynastarLogo.jpg', class: 'img-fluid mx-auto'), '/dllk' %></div>
			<div class="col-4 col-sm-4 offset-2 col-md-1 offset-md-0"><%= link_to (image_tag 'Group_Homepage_RossignolLogo.jpg', class: 'img-fluid mx-auto'), '/rossignol' %></div>
			<div class="col-4 col-sm-4 col-md-1"><%= image_tag 'Group_Homepage_RossignolApparelLogo_GreyedOut.jpg', class: 'img-fluid mx-auto' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= link_to (image_tag 'Group_Homepage_LangeLogo.jpg', class: 'img-fluid mx-auto'), '/dllk' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= link_to (image_tag 'Group_Homepage_KermaLogo.jpg', class: 'img-fluid mx-auto'), '/dllk' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= image_tag 'Group_Homepage_RaidlightLogo_GreyedOut.jpg', class: 'img-fluid mx-auto' %></div>
			<div class="col-3 col-sm-3 col-md-1"><%= image_tag 'Group_Homepage_FeltLogo_GreyedOut.jpg', class: 'img-fluid mx-auto' %></div>
	</div>
</div>



		<!-- Time/vertical/Look/Dynstar/Ross/RossApa/Lange/Kerma/Raidlight/Felt -->
	



<!-- <section id="home-group-logo">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1><%#= @page.title %></h1>
			</div>
		</div>
	</div>
</section> -->

<!-- <section id="home-welcome-text">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="lead">
					<%#= raw @page.content_for(:welcome_text_col_1) %>
				</p>
			</div>
			<div class="col-md-6">
				<p class="lead">
					<%#= raw @page.content_for(:welcome_text_col_2) %>
				</p>
			</div>
		</div>
	</div>
</section> -->

<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md home-brand text-center" id="group-home-rossignol">
			<%#= link_to (image_tag 'Rossignol_Line_RED.png', alt: 'Rossignol Logo', class: 'img-fluid mx-auto'), '/rossignol' %> 
		</div>
		<div class="col-md home-brand text-center" id="group-home-dlllk">
			<%#= link_to (image_tag 'DLLK_2017_horizontal_color.png', alt: 'Dynastar | Lange | LOOK | Kerma logos', class: 'img-fluid mx-auto'), '/dllk' %>
		</div>
	</div>
</div> -->

<%#= render '/refinery/content_page' %>

