<section id="l3-header">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h4><%= @page.title %></h4>
			</div>
		</div>
	</div>
</section>

<section id="l3-body">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<div class="card-text">
							<%= raw @page.content_for(:box_1_content) %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<div class="card-text">
							<%= raw @page.content_for(:box_2_content) %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<div class="card-text">
							<%= raw @page.content_for(:box_3_content) %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<%#= image_tag 'WEB_ELEMENTS_ROSSIGNOLHOME_IMG_1.jpg', class: "card-img-top", alt: "Rossignol on the podium" %>
						<div class="card-text">
							<%= raw @page.content_for(:box_4_content) %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>