<section id="l3-header">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h4><%= @page.title %></h4>
			</div>
		</div>
	</div>
</section>

<section id="l3-body">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<%= image_tag 'WEB_ELEMENTS_ROSSIGNOLHOME_IMG_1.jpg', class: "card-img-top", alt: "Rossignol on the podium" %>
						<div class="card-text">
							<p>Ski selection, both model and length, always will be a very personal and, to a large degree, a very subjective decision.</p>
							<div class="text-center"><%= link_to "Click Here", "#", class: "btn btn-outline-danger " %></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<%= image_tag 'WEB_ELEMENTS_ROSSIGNOLHOME_IMG_1.jpg', class: "card-img-top", alt: "Rossignol on the podium" %>
						<div class="card-text">
							<p>Ski selection, both model and length, always will be a very personal and, to a large degree, a very subjective decision.</p>
							<div class="text-center"><%= link_to "Click Here", "#", class: "btn btn-outline-danger " %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<%= image_tag 'WEB_ELEMENTS_ROSSIGNOLHOME_IMG_1.jpg', class: "card-img-top", alt: "Rossignol on the podium" %>
						<div class="card-text">
							<p>Ski selection, both model and length, always will be a very personal and, to a large degree, a very subjective decision.</p>
							<div class="text-center"><%= link_to "Click Here", "#", class: "btn btn-outline-danger " %></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<%= image_tag 'WEB_ELEMENTS_ROSSIGNOLHOME_IMG_1.jpg', class: "card-img-top", alt: "Rossignol on the podium" %>
						<div class="card-text">
							<p>Ski selection, both model and length, always will be a very personal and, to a large degree, a very subjective decision.</p>
							<div class="text-center"><%= link_to "Click Here", "#", class: "btn btn-outline-danger " %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>