<section id="rossi-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        
      </div>
    </div>
  </div>
</section>

<section id="rossi-tri">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><%= raw @page.content_for(:box_1_title) %></h5>
						<p class="card-text">
							<%= raw @page.content_for(:box_1_content) %>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><%= raw @page.content_for(:box_2_title) %></h5>
						<p class="card-text">
							<%= raw @page.content_for(:box_2_content) %>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><%= raw @page.content_for(:box_3_title) %></h5>
						<p class="card-text">
							<%= raw @page.content_for(:box_3_content) %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
